* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    height: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: yellow;
    height: 56px;
}

main, .side-menu, .main-content {
    overflow-y: scroll;
}
main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
}

.side-menu {
    background-color: violet;
    width: 240px;
    flex-shrink: 0;
    flex-grow: 0;
    
}

.main-content {
    background-color: blue;
    flex-grow: 1;
}